/* Custom styles for carousel to show previous and next items */
.carousel-item {
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    opacity: 0.5;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
    transform: translateX(33%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
    transform: translateX(-33%);
}
